{% extends 'base.html'  %}
{% block title %}Add New Tag{% endblock %}

{% block content %}
<h1>Add New Tag</h1>
<form action="/tags/new" method="POST">
    <input type="text" name="name" placeholder="tag name">
    <button>Submit Tag</button>

    
    <div class="form-check form-group row">
        {% for post in posts %}
        <div>
          <input class="form-input"
                 type="checkbox"
                 value="{{ post.id }}"
                 id="post_{{ post.id }}"
                 name="posts">
          <label class="form-check-label" for="post_{{ post.id }}">
            {{ post.title }}
          </label>
        </div>
        {% endfor %}
      </div>
    


</form>
<br>
<a href="/tags">Go Back</a>


    
    
<!-- why is post request going to tags/new in browser? shouldnt 
it go to tags -->

{% endblock %}