{% extends 'base.html'  %}
{% block title %}User Details{% endblock %}

{% block content %}

    <h1>{{user.first_name}} Details</h1>
    <img src="{{img}}" alt="">
    <ul>
        <li>ID: {{user.id}}</li>
        <li>First Name: {{user.first_name}}</li>
        <li>Last Name: {{user.last_name}}</li>
       
        <li>Avatar: {{user.image_url}}</li>
        
    </ul>
    <form action="/users/{{user.id}}/edit">
        <button>Edit User Details</button>
    </form>
    <!-- <a href="/users/{{user.id}}/edit">Edit User's Details</a> -->
    <form action="/users/{{user.id}}/delete" method="POST">
    
        <button>Delete User</button>
    </form>

    {% for post in user.posts %}
    <h3>{{post.user.first_name}}'s post titled {{post.title}}</h3>
    <a href="/posts/{{post.id}}"> {{post.title}} </a>
    <p>
      {{post.content}}  
    </p>
    {% endfor %}



    <br>
    <br>
    <a href="/users/{{user.id}}/posts/new">New Post</a>
    <br><br>


    <br>

    



    <br>
    <a href="/users">Go Back</a>
    


{% endblock %}

<!-- to do: fix ugly html and add bootstrap css -->