{% extends 'base.html'  %}
{% block title %}User Details{% endblock %}

{% block content %}

    <h1>Edit {{post.user.first_name}} Details</h1>

    <form action="/posts/{{post.id}}/edit" method="POST">
        Current Title: <br>
        <input type="text" name="title" value="{{post.title}}"> <br>
        Current Content: <br>
        <input type="text" name="content" value="{{post.content}}"> <br>

        <div class="form-check">
            {% for tag in tags %}
            <div>
              <input class="form-check-input"
                     type="checkbox"
                     value="{{ tag.id }}"
                     id="tag_{{ tag.id }}"
                     {% if tag in post.tags %}checked{% endif %}
                     name="tags">
              <label class="form-check-label" for="tag_{{ tag.id }}">
                {{ tag.name }}
              </label>
            </div>
            {% endfor %}
          </div>


        <button>Edit Post</button>
    


    </form>

    <br>
    <a href="/posts/{{post.id}}">Go Back to Posts</a>

    
    


{% endblock %}