{% extends 'base.html'  %}
{% block title %}Home{% endblock %}

{% block content %}
<h1>Recent Posts</h1>
<!-- posts/postid route not yet written -->
<ul>
    {% for post in posts %}
    <li>
        <a href="/posts/{{post.id}}">by {{post.user.first_name}} {{post.user.last_name}}, {{post.title}}</a>
    </li>
    {% endfor %}
</ul>

<a href="/users">Go Back to Users</a>
<!-- already on the "/" route, no need to declare "/" in action -->
<!-- <h2>Add New User</h2>
<a href="/users/new">Add New User</a> -->
<!-- <form action="/" method="POST">
    <input type="text" name="first-name" placeholder="first name">
    <input type="text" name="last-name" placeholder="last name">
    <input type="text" name="image-url" placeholder="img url here">
    <button>Submit User</button>

</form>
     -->
    


{% endblock %}